USE [master]
GO
/****** Object:  Database [SinemaUygulaması]    Script Date: 12.05.2023 21:34:48 ******/
CREATE DATABASE [SinemaUygulaması]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SinemaUygulaması', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SinemaUygulaması.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SinemaUygulaması_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SinemaUygulaması_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SinemaUygulaması].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SinemaUygulaması]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 12.05.2023 21:34:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[Film_Id] [int] IDENTITY(1,1) NOT NULL,
	[Film_Adı] [text] NOT NULL,
	[Seans_Saati] [text] NOT NULL,
	[Salon_Id] [int] NOT NULL,
 CONSTRAINT [PK_Film] PRIMARY KEY CLUSTERED 
(
	[Film_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Müşteri]    Script Date: 12.05.2023 21:34:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Müşteri](
	[Müsteri_Id] [int] IDENTITY(1,1) NOT NULL,
	[Müsteri_Ad] [text] NOT NULL,
	[Bilet_Sayısı] [int] NOT NULL,
	[Bilet_Aralıgı] [text] NOT NULL,
	[Film_Id] [int] NOT NULL,
	[Salon_Id] [int] NOT NULL,
 CONSTRAINT [PK_Müşteri] PRIMARY KEY CLUSTERED 
(
	[Müsteri_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon]    Script Date: 12.05.2023 21:34:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon](
	[Salon_Id] [int] IDENTITY(1,1) NOT NULL,
	[Salon_Adı] [text] NOT NULL,
	[Koltuk_Sayısı] [int] NOT NULL,
 CONSTRAINT [PK_Salon] PRIMARY KEY CLUSTERED 
(
	[Salon_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Film] ON 

INSERT [dbo].[Film] ([Film_Id], [Film_Adı], [Seans_Saati], [Salon_Id]) VALUES (1, N'Testere', N'19:00 - 20:30', 1)
INSERT [dbo].[Film] ([Film_Id], [Film_Adı], [Seans_Saati], [Salon_Id]) VALUES (2, N'Testere', N'19:00 - 20:30', 2)
SET IDENTITY_INSERT [dbo].[Film] OFF
GO
SET IDENTITY_INSERT [dbo].[Müşteri] ON 

INSERT [dbo].[Müşteri] ([Müsteri_Id], [Müsteri_Ad], [Bilet_Sayısı], [Bilet_Aralıgı], [Film_Id], [Salon_Id]) VALUES (6, N'Kerem Vatan', 2, N'A1,A2', 1, 1)
SET IDENTITY_INSERT [dbo].[Müşteri] OFF
GO
SET IDENTITY_INSERT [dbo].[Salon] ON 

INSERT [dbo].[Salon] ([Salon_Id], [Salon_Adı], [Koltuk_Sayısı]) VALUES (1, N'Ana Salon', 10)
INSERT [dbo].[Salon] ([Salon_Id], [Salon_Adı], [Koltuk_Sayısı]) VALUES (2, N'2.Salon', 20)
SET IDENTITY_INSERT [dbo].[Salon] OFF
GO
ALTER TABLE [dbo].[Film]  WITH CHECK ADD  CONSTRAINT [FK_Film_Salon] FOREIGN KEY([Salon_Id])
REFERENCES [dbo].[Salon] ([Salon_Id])
GO
ALTER TABLE [dbo].[Film] CHECK CONSTRAINT [FK_Film_Salon]
GO
ALTER TABLE [dbo].[Müşteri]  WITH CHECK ADD  CONSTRAINT [FK_Müşteri_Film] FOREIGN KEY([Film_Id])
REFERENCES [dbo].[Film] ([Film_Id])
GO
ALTER TABLE [dbo].[Müşteri] CHECK CONSTRAINT [FK_Müşteri_Film]
GO
ALTER TABLE [dbo].[Müşteri]  WITH CHECK ADD  CONSTRAINT [FK_Müşteri_Salon] FOREIGN KEY([Salon_Id])
REFERENCES [dbo].[Salon] ([Salon_Id])
GO
ALTER TABLE [dbo].[Müşteri] CHECK CONSTRAINT [FK_Müşteri_Salon]
GO
USE [master]
GO
